<div class="container p-5 ">


    <!-- Tabs -->
    <section id="tabs">
        <div class="container p-5 ">
            <h5 class="section-title h1 text-center">What our customers have said about Airpos?</h5>
            <div class="row">
                <div class="col-xs-12 tab-pane-frame">
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-alex-tab" data-toggle="tab" href="#nav-alex"
                                role="tab" aria-controls="nav-alex" aria-selected="true">Alex</a>
                            <a class="nav-item nav-link" id="nav-oscar-tab" data-toggle="tab" href="#nav-oscar"
                                role="tab" aria-controls="nav-oscar" aria-selected="false">Oscar</a>
                            <a class="nav-item nav-link" id="nav-wil-tab" data-toggle="tab" href="#nav-wil" role="tab"
                                aria-controls="nav-wil" aria-selected="false">Wil</a>
                            <a class="nav-item nav-link" id="nav-aaron-tab" data-toggle="tab" href="#nav-aaron"
                                role="tab" aria-controls="nav-aaron" aria-selected="false">Aaron</a>
                            <a class="nav-item nav-link" id="nav-frank-tab" data-toggle="tab" href="#nav-frank"
                                role="tab" aria-controls="nav-frank" aria-selected="false">Frank</a>
                            <a class="nav-item nav-link" id="nav-alan-tab" data-toggle="tab" href="#nav-alan" role="tab"
                                aria-controls="nav-alan" aria-selected="false">Alan</a>
                            <a class="nav-item nav-link" id="nav-steve-tab" data-toggle="tab" href="#nav-steve"
                                role="tab" aria-controls="nav-steve" aria-selected="false">Steve</a>
                            <a class="nav-item nav-link" id="nav-heather-tab" data-toggle="tab" href="#nav-heather"
                                role="tab" aria-controls="nav-heather" aria-selected="false">Heather</a>
                            <a class="nav-item nav-link" id="nav-paul-tab" data-toggle="tab" href="#nav-paul" role="tab"
                                aria-controls="nav-paul" aria-selected="false">Paul</a>
                            <a class="nav-item nav-link" id="nav-bjorn-tab" data-toggle="tab" href="#nav-bjorn"
                                role="tab" aria-controls="nav-bjorn" aria-selected="false">Bjorn</a>
                        </div>
                    </nav>
                    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                        <div class="tab-pane fade show active text-center" id="nav-alex" role="tabpanel"
                            aria-labelledby="nav-alex-tab">
                            <img src="https://d4hzhhlwm42od.cloudfront.net/assets/unslider/img-block/alex-485a6425080c98d0ae09a2cb56b2a5ba5b1f1a711265202141929aaa39fa4601.jpg"
                                alt="alex" srcset="">
                            <p>"There seemed to be a million-and-one options for a till system out there. But when I
                                found AirPOS, their personal touch and the simplicity of the system helped a small
                                business like ours get up and running quickly and easily."</p>
                            <p class="name"><strong>Alex</strong>, Sugar & Dice Boardgame Cafe
                                Coffee Shop</p>
                        </div>
                        <div class="tab-pane fade text-center" id="nav-oscar" role="tabpanel"
                            aria-labelledby="nav-oscar-tab">
                            <img src="https://lh5.googleusercontent.com/p/AF1QipMHz7UfmqP868_fhZlMlFG2TmEP8QHCDi5e3z5a=w239-h160-k-no"
                                alt="alex" srcset="">
                            <p>"If you can work an iPad, you can setup and use AirPOS. It takes less than a minute
                                to
                                change a price, add an item or run a report. It’s the simplest point-of-sale I’ve
                                ever
                                used."</p>
                            <p class="name"><strong>Oscar</strong>, OS Catering
                                Catering</p>
                        </div>
                        <div class="tab-pane fade text-center" id="nav-wil" role="tabpanel"
                            aria-labelledby="nav-wil-tab">
                            <img src="https://lh5.googleusercontent.com/p/AF1QipMHz7UfmqP868_fhZlMlFG2TmEP8QHCDi5e3z5a=w239-h160-k-no"
                                alt="alex" srcset="">
                            <p>"I could use my existing chip-and-pin reader and all my existing hardware with
                                AirPOS, so
                                switching was really easy."</p>
                            <p class="name"><strong>Wil</strong>, The Proscecco Bar
                                Bar</p>
                        </div>
                        <div class="tab-pane fade text-center" id="nav-aaron" role="tabpanel"
                            aria-labelledby="nav-aaron-tab">
                            <img src="https://lh5.googleusercontent.com/p/AF1QipMHz7UfmqP868_fhZlMlFG2TmEP8QHCDi5e3z5a=w239-h160-k-no"
                                alt="alex" srcset="">
                            <p>"I can take a break from the shop any time I want and still keep tabs on my business
                                via
                                any web connected device, even my phone.".</p>
                            <p class="name"><strong>Aaron</strong>, Comic Book Guys
                                Retail</p>
                        </div>
                        <div class="tab-pane fade text-center" id="nav-frank" role="tabpanel"
                            aria-labelledby="nav-frank-tab">
                            <img src="https://lh5.googleusercontent.com/p/AF1QipMHz7UfmqP868_fhZlMlFG2TmEP8QHCDi5e3z5a=w239-h160-k-no"
                                alt="alex" srcset="">
                            <p>"We tried out 7 other ePOS systems and chose AirPOS because it was the simplest to
                                use
                                and gave us exactly what we needed."</p>
                            <p class="name"><strong>Frank</strong>, Somboon Thai Shop
                                Retail</p>
                        </div>
                        <div class="tab-pane fade text-center" id="nav-alan" role="tabpanel"
                            aria-labelledby="nav-alan-tab">
                            <img src="https://lh5.googleusercontent.com/p/AF1QipMHz7UfmqP868_fhZlMlFG2TmEP8QHCDi5e3z5a=w239-h160-k-no"
                                alt="alex" srcset="">
                            <p>"I can honestly say that AirPOS has the most responsive support team of any online
                                service we use. Questions are answered, and usually resolved, in under 5 minutes.
                                It’s
                                the best in the business."</p>
                            <p class="name"><strong>Alan</strong>, The Rhubarb Tree
                                Retail</p>
                        </div>
                        <div class="tab-pane fade text-center" id="nav-steve" role="tabpanel"
                            aria-labelledby="nav-steve-tab">
                            <img src="https://lh5.googleusercontent.com/p/AF1QipMHz7UfmqP868_fhZlMlFG2TmEP8QHCDi5e3z5a=w239-h160-k-no"
                                alt="alex" srcset="">
                            <p>"Before AirPOS, I was using a push button till and spreadsheets to manage my business
                                AirPOS gives me confidence that I’m on top of what I need to be - and it’s a lot
                                less
                                work than before."</p>
                            <p class="name"><strong>Steve</strong>, Ashbourne Pro Golf Shop
                                Retail</p>
                        </div>
                        <div class="tab-pane fade text-center" id="nav-heather" role="tabpanel"
                            aria-labelledby="nav-heather-tab">
                            <img src="https://lh5.googleusercontent.com/p/AF1QipMHz7UfmqP868_fhZlMlFG2TmEP8QHCDi5e3z5a=w239-h160-k-no"
                                alt="alex" srcset="">
                            <p>"AirPOS enables you to upload stock in bulk and add new products. Best of all, I can
                                use
                                AirPOS at home, on my phone or on the train if I wished"</p>
                            <p class="name"><strong>Heather</strong>Oscar & Joy
                                Retail</p>
                        </div>
                        <div class="tab-pane fade text-center" id="nav-paul" role="tabpanel"
                            aria-labelledby="nav-paul-tab">
                            <img src="https://lh5.googleusercontent.com/p/AF1QipMHz7UfmqP868_fhZlMlFG2TmEP8QHCDi5e3z5a=w239-h160-k-no"
                                alt="alex" srcset="">
                            <p>"I move around all the time but with AirPOS I don’t need to be online all the time -
                                it
                                simply reconnects whenever I get near a WiFi signal."</p>
                            <p class="name"><strong>Paul</strong>, Cafe Continental
                                Cafe / Food Truck</p>
                        </div>
                        <div class="tab-pane fade text-center" id="nav-bjorn" role="tabpanel"
                            aria-labelledby="nav-bjorn-tab">
                            <img src="https://lh5.googleusercontent.com/p/AF1QipMHz7UfmqP868_fhZlMlFG2TmEP8QHCDi5e3z5a=w239-h160-k-no"
                                alt="alex" srcset="">
                            <p>"Other POS systems we researched were very cloak-and-dagger with their pricing. I
                                wanted
                                to work with a company I could trust. AirPOS’ transparency made it easy to trust
                                them,
                                and the system does just what we need."</p>
                            <p class="name"><strong>Bjorn</strong> , Pattard Kitchen
                                Cafe / Bar</p>
                        </div>
                    </div>

                </div>
            </div>


            <div class="text-center pt-5">
                <a href="#" class="btn btn-primary btn-lg active pt-5" role="button" aria-pressed="true">Try Airpos
                    for
                    Free
                    <span class="oi oi-chevron-right"></span></a>
            </div>

        </div>

    </section>
    <!-- ./Tabs -->




</div>