<!-- Footer -->
<section id="footer">
    <div class="container pt-5">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5 class="footerTitle">Airpos</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/features"><i class="fa fa-angle-double-right"></i>Features</a></li>
                    <li><a href="/Pricing;"><i class="fa fa-angle-double-right"></i>Pricing</a></li>
                    <li><a href="/Community"><i class="fa fa-angle-double-right"></i>Community</a></li>
                    <li><a href="/Help;"><i class="fa fa-angle-double-right"></i>Help</a></li>
                    <li><a href="https://backoffice.airpointofsale.com/users/sign_up"><i
                                class="fa fa-angle-double-right"></i>Start 30 day free trial</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5 class="footerTitle">Partners</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/partners"><i class="fa fa-angle-double-right"></i>Tide</a></li>
                    <li><a href="/partners"><i class="fa fa-angle-double-right"></i>Worldpay</a></li>
                    <li><a href="/partners"><i class="fa fa-angle-double-right"></i>iZettle</a></li>
                    <li><a href="/partners"><i class="fa fa-angle-double-right"></i>Sumup</a></li>
                    <li><a href="/partners"><i class="fa fa-angle-double-right"></i>Xero</a></li>
                    <li><a href="/partners"><i class="fa fa-angle-double-right"></i>Storekit</a></li>
                    <li><a href="/partners"><i class="fa fa-angle-double-right"></i>More</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5 class="footerTitle">30 Day Free Trial</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="https://backoffice.airpointofsale.com/users/sign_up"><i
                                class="fa fa-angle-double-right"></i>Start your Trial Today</a>
                    </li>
                    <li><a href="https://backoffice.airpointofsale.com/users/sign_up"><i
                                class="fa fa-angle-double-right"></i>Book a Demo</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-left text-white pt-5 pb-5">
                &copy; {{date format="YYYY"}} <a style="text-left" href="{{@site.url}}">{{@site.title}}</a> &mdash;
                Published
                with <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>
            </div>
            </hr>
        </div>
    </div>


    </div>
</section>
<!-- ./Footer -->