<!-- Tabs -->

<div class="container-fluid" style="background-color: #000202d6; padding-top: 150px; padding-bottom: 75px; margin:0px;">

    <div class="container">
        <div class="card-deck">
            <div class="card fade-in border-0" style="width: 18rem;">
                <img class="card-img-top" src="/assets/images/pos.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">POS</h5>
                    <p class="card-text">Sell instore, on the move, online</p>
                    <a href="#" class="btn btn-primary">More on POS</a>
                </div>
            </div>
            <div class="card fade-in border-0" style="width: 18rem;">
                <img class="card-img-top" src="/assets/images/manage.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Manage</h5>
                    <p class="card-text">Organinze your inventory on the go</p>
                    <a href="#" class="btn btn-primary">More on Manage</a>
                </div>
            </div>

            <div class="card fade-in border-0" style="width: 18rem;">
                <img class="card-img-top" src="/assets/images/insights.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Insights</h5>
                    <p class="card-text">Reporting, Performance, Taxes, Accounts</p>
                    <a href="#" class="btn btn-primary">More on Insights</a>
                </div>
            </div>

            <div class="card fade-in border-0" style="width: 18rem;">
                <img class="card-img-top" src="/assets/images/expand.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Expand</h5>
                    <p class="card-text">Multi-location, online selling and integrations</p>
                    <a href="#" class="btn btn-primary">More on Expand</a>
                </div>
            </div>


        </div>

    </div>


    <div class="text-center ctaStartTrialCTA">
        <a href="#" class="btn btn-primary btn-lg active freeTrialCTA" role="button" aria-pressed="true">Try 30 Days
            Free <span class="oi oi-chevron-right"></span></a>
    </div>


</div>