<div class="card ml-auto" style="width: 18rem;">
    <img class="card-img-top"
        src="https://image.freepik.com/free-vector/payment-terminal-pos-machine-with-credit-card-vector-illustration_100456-115.jpg"
        alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Expand</h5>
        <p class="card-text">Multi-location, online selling and integrations.</p>
        <a href="#" class="btn btn-primary">More on Expand</a>
    </div>
</div>