<div class="card ml-auto" style="width: 18rem;">
    <img class="card-img-top"
        src="https://image.freepik.com/free-vector/payment-terminal-with-credit-card_1284-17021.jpg"
        alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Manage</h5>
        <p class="card-text">Organinze your inventory on the go, keep tabs on what's selling live.</p>
        <a href="#" class="btn btn-primary">More on Manage</a>
    </div>
</div>