<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://image.freepik.com/free-vector/credit-card_24908-47246.jpg"
        alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">POS</h5>
        <p class="card-text">Sell instore, on the move, online</p>
        <a href="#" class="btn btn-primary">More on POS</a>
    </div>
</div>