<div class="card" style="width: 18rem;">
    <img class="card-img-top"
        src="https://image.freepik.com/free-vector/pos-terminal-wireless-mobilepayment-transaction_3446-139.jpg"
        alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Insights</h5>
        <p class="card-text">Reporting, Performance, Taxes, Accounts etc.</p>
        <a href="#" class="btn btn-primary">More on Insights</a>
    </div>
</div>