<ul class="navbar-nav">
    <li class="nav-item active">
        <a class="nav-link" href="#">POS <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Features
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">pos</a>
            <a class="dropdown-item" href="#">manage</a>
            <a class="dropdown-item" href="#">insights</a>
            <a class="dropdown-item" href="#">expand</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Partners
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Tide</a>
            <a class="dropdown-item" href="#">Worldpay</a>
            <a class="dropdown-item" href="#">iZettle</a>
            <a class="dropdown-item" href="#">Sumup</a>
            <a class="dropdown-item" href="#">Xero</a>
            <a class="dropdown-item" href="#">Storekit</a>
            <a class="dropdown-item" href="#">More...</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Community</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Help</a>
    </li>
</ul>